<!doctype html>
  <html>

  <head>
    <%= partial "/partials/head" %>
  </head>

  <body class="l--body">

      <header class="l--header">
        <%= partial "/partials/header" %>
      </header>

      <div class="l--main" role="main">
        <div class="content">
          <%= yield %>
        </div>
      </div>

    <footer class="l--footer">
      <%= partial "/partials/footer" %>
    </footer>
