<<<<<<< HEAD
&copy;Finley MacDonald-Bora <div class="footicons"><a href="mailto:finleymacb@gmail.com?subject=Fight%20Club">Email</a> | <a href="https://www.behance.net/finleymacb">Behance</a> | <a href="http://celestialcoelacanth.tumblr.com/">Tumblr</a></div>
=======
<small>
  &copy;Finley MacDonald-Bora.  <a href="mailto:finleymacb@gmail.com?subject=Fight%20Club&body=I%20WANNA%20FIGHT">Contact</a>
</small>
>>>>>>> c2a1fe96a893e375fa51e82228110cf5a14196a0
