<h1>
<<<<<<< HEAD
  <a href="/">Nothing</a>
</h1>
<nav role="navigation">
  <%= partial "/partials/navigation" %>
</nav>
=======
  <a href="index.html">Stuff and Things &hearts;</a>
</h1>
>>>>>>> c2a1fe96a893e375fa51e82228110cf5a14196a0
