<<<<<<< HEAD
<a href="blog/index.html">Blog</a>
<a href="art.html">Portfolio</a>
=======
<a href="/about.html">About Me</a> | <a href="/contact.html">Contact</a> | <a href="/art.html">My Work</a> | <a href="/archive.html">Archive</a>
>>>>>>> c2a1fe96a893e375fa51e82228110cf5a14196a0
