---
title: Finley's Portfolio Website
---

<section class="content">
  <h2>About Me</h2>
    <p>Hi, I'm Finley.  I'm from Chicago and I'm currently an intern at Eight Bit Studios.  I draw stuff on occasion and I design stuff, like this website.  I write blog posts and science fiction.  I'm a rising senior in high school.  Which high school I go to is entirely up to your imagination.  I have a questionable fashion sense, as well as a questionable sense in pets.  I have a lizard named Dipper who watches me while I work and judges silently.</p>
    <p>I've had an interest in graphic design since eighth grade, but it never overshadowed my passion for illustration.  That's why I try to integrate it into my design work.  Of course, I still draw on the side, as well.  You can see all that under <b>"My Work"</b>. </p>
</section>

<link href='http://fonts.googleapis.com/css?family=Amatic+SC|Merriweather:400,300italic,700' rel='stylesheet' type='text/css'>