---
title: Finley's Portfolio Website
---
<header>
  <%= partial "/partials/header" %>
</header>

<nav>
  <%= partial "/partials/navigation" %>
</nav>

<section class="content">
  <h2>About Me</h2>
    <p>Hi, I'm Finley.  I'm from Chicago and I'm currently an intern at Eight Bit Studios.  I draw stuff on occasion and I design stuff, like this website.  Sometimes I write, and that writing is either non fiction or some gritty post-apocalyptic bullshit.  I'm a rising senior in high school.  Which high school I go to is entirely up to your imagination.  </p>
</section>


<footer class="primary-footer">
    <%= partial"/partials/footer" %>
</footer>

<link href='http://fonts.googleapis.com/css?family=Amatic+SC|Merriweather:400,300italic,700' rel='stylesheet' type='text/css'>