---
title: Finley's Portfolio Website
---

<section class="portfolio">
  <h3>Design &amp; Illustration Work</h3>
  <div class="design">
    <h4>Design</h4>
      <a href="/images/business-cards.jpg"><img src="/images/business-cards.jpg"></a>
      <p>Two business card designs for the identity unit in my graphic design class.  My theme was space, and I went both realistic (left) and cartoon-y (right).  I eventually settled on the right as it carried the color scheme used in the planet and fit the aesthetic.  Also, the stars seemed less painstaking at the time.</p>

      <a href="/images/identity-system.jpg"><img src="/images/identity-system.jpg"></a>
      <p>My first attempt at making my identity system.  This was the last assignment of the identity unit, and I was really proud of it at the time.  Now, of course, I see all kinds of improvements I  want to make, but I'll leave that to future systems.</p>

      <a href="/images/tartuffe-poster.jpg"><img src="/images/tartuffe-poster.jpg"></a>
      <p>For some unfathomable reason, this has gotten into multiple art exhibitions.  This isn't even the original poster I made.  I lost my flash drive four days before the project was due and had to recreate the product of several weeks' worth of work in a few days.</p>

      <div id="isystem"><a href="/images/lizard-system.jpg"><img src="/images/lizard-system.jpg"></a></div>
      <p>I like lizards, and I like making identity systems.  Why not combine them both and throw in some snakes?  Okay, <em>actually</em>, I  made this because I had recently gotten a lizard from the Chicago Reptile House and, upon looking at the website, decided I could do better.  So I went all out.  I made a logo that was actually related to reptiles, and decided to flex my design skills and created this identity system.  I also made a mockup of a webpage, which you can see below.</p>

      <a href="/images/lizard-page.png"><img src="/images/lizard-page.png"></a>
      <p>This is the webpage I made.  I decided to use actual photographs for this because it felt more relevant than drawings of lizards.  If you're on the website, you're there to look at reptiles.  It's sort of like an affirmation, like, "yes, we <em>do</em> have reptiles here", instead of just tossing gimmicks at the user.</p>
    </div>

    <div class="illustration">
      <h4>Illustration</h4>
      <div id="recent"><a href="/images/limeypie-commission.png"><img src="/images/limeypie-commission.png"></a>
      <p>I used to do commissions of lizards.  I still do, but as my art style's improved, ironically, the popularity of the lizards in particular has dropped.  This one, in particular, was weird and difficult because I was asked to draw a basilisk lizard running upright.  I only have a 1000x200px working space, so it was really just hard because I had to figure out how to make it look natural, as basilisks run upright (on water, but that wasn't possible at all).  It did end up looking a bit awkward, but not bad.</p></div>

      <a href="/images/hellahorseheadadventure.png"><img src="/images/hellahorseheadadventure.png"></a>
      <p>This is more than several months old, but it's held up, which is very unusual.  I decided to try a different style using thick, soft lines and overlaying a texture (in this case, marble) to give a feeling of completion despite the fact that only minimal shading was used on the head.  While I haven't done anything else with this style, I liked it, and I might try experimenting with it again.</p>

      <a href="/images/eww.jpg"><img src="/images/eww.jpg"></a>
      <p>This was in practice for the mock <a href="/art.html#isystem">identity system</a> I made.  The topmost lizard made it in to the final result on the business card, and the gecko below it almost made it onto the bottom of the letterhead.  The snake and the turtle had no such luck, because I can't draw either.</p>

      <a href="/images/tbt2k12.png"><img src="/images/tbt2k12.png"></a>
      <p>I'm writing this on Thursday, so #TBT to about 2013, when I drew a lot of this 3dgy android character.  I'm not going to say much because I don't remember much, but it used to be worse.  It looked kind of like a warboy with blue hair at one point, that was fun.  And before this was drawn, I think.  I also retconned its design in the middle of writing something on impulse once.  I just decided, "oh, it should have eyes, but only one, actually" and then I wrote it in.</p>
    </div>
</section>