---
title: Finley's Portfolio Website
---
<section class="content">
  <p><a href="mailto:finleymacb@gmail.com?subject=Fight%20Club&body=I%20WANNA%20FIGHT">Email</a></p>
  <p><a href="https://www.behance.net/finleymacb">Behance</a></p>
</section>

<link href='http://fonts.googleapis.com/css?family=Amatic+SC|Merriweather:400,300italic,700' rel='stylesheet' type='text/css'>
