---
title: Finley's Portfolio Website
---
<header>
  <%= partial "/partials/header" %>
</header>

<nav>
  <%= partial "/partials/navigation" %>
</nav>

<section class="design-images">
  <h2>Design</h2>

  <img src="/images/business-cards.jpg">

  <img src="/images/identity-system.jpg">

  <img src="/images/tartuffe-poster.jpg">

  <img src="/images/lizard-system.jpg">

  <img src="/images/lizard-page.png">
</section>


<footer class="primary-footer">
  <%= partial"/partials/footer" %>
</footer>

 <link href='http://fonts.googleapis.com/css?family=Amatic+SC|Merriweather:400,300italic,700' rel='stylesheet' type='text/css'>