---
title: Finley's Portfolio Website
---
<section class="content">
  <h2>Design</h2>

  <a href="/images/business-cards.jpg"><img src="/images/business-cards.jpg"></a>
    <p>Two business card designs for the identity unit in my graphic design class.  My theme was space, and I went both realistic (left) and cartoon-y (right).  I eventually settled on the right as it carried the color scheme used in the planet and fit the aesthetic.  Also, the stars seemed less painstaking at the time.</p>

  <a href="/images/identity-system.jpg"><img src="/images/identity-system.jpg"></a>
    <p>My first attempt at making my identity system.  This was the last assignment of the identity unit, and I was really proud of it at the time.  Now, of course, I see all kinds of improvements I  want to make, but I'll leave that to future systems.</p>

  <a href="/images/tartuffe-poster.jpg"><img src="/images/tartuffe-poster.jpg"></a>
    <p>For some unfathomable reason, this has gotten into multiple art exhibitions.  This isn't even the original poster I made.  I lost my flash drive four days before the project was due and had to recreate the product of several weeks' worth of work in a few days.</p>

  <div id="isystem"><a href="/images/lizard-system.jpg"><img src="/images/lizard-system.jpg"></a></div>
    <p>I like lizards, and I like making identity systems.  Why not combine them both and throw in some snakes?  Okay, <em>actually</em>, I  made this because I had recently gotten a lizard from the Chicago Reptile House and, upon looking at the website, decided I could do better.  So I went all out.  I made a logo that was actually related to reptiles, and decided to flex my design skills and created this identity system.  I also made a mockup of a webpage, which you can see below.</p>

  <a href="/images/lizard-page.png"><img src="/images/lizard-page.png"></a>
    <p>This is the webpage I made.  I decided to use actual photographs for this because it felt more relevant than drawings of lizards.  If you're on the website, you're there to look at reptiles.  It's sort of like an affirmation, like, "yes, we <em>do</em> have reptiles here", instead of just tossing gimmicks at the user.</p>
</section>