---
title: Finley's Portfolio Website
---
<header>
  <%= partial "/partials/header" %>
</header>

<nav>
  <%= partial "/partials/navigation" %>
</nav>

<section class="illustration-images">
  <h2>Illustration</h2>
  <img src="/images/gatorguts-commission.PNG">
</section>

<section class="footer">
 <footer class="primary-footer">
    <%= partial"/partials/footer" %>
  </footer>
</section>
 <link href='http://fonts.googleapis.com/css?family=Amatic+SC|Merriweather:400,300italic,700' rel='stylesheet' type='text/css'>