---
title: Finley's Portfolio Website
---

  <h3>
    Hello
  </h3>
    <p>
      Hi, I'm Finley.  I'm from Chicago and I'm currently an intern at Eight Bit Studios.  I'm proficient in Adobe Photoshop and I can use Illustrator and InDesign.  I can do illustration, graphic design, and some 3D modeling.  I'm also learning to code HTML and CSS and this website is, essentially, my guinea pig.
    </p>
    <p>
      I've had an interest in graphic design since eighth grade, but it never overshadowed my passion for illustration.  That's why I try to integrate it into my design work.  Of course, I still draw on the side, as well.  You can see all that under <b>"Portfolio"</b>.
    </p>