---
title: Finley's Portfolio Website
---

<<<<<<< HEAD
  <h3>
    Hello
  </h3>
    <p>
      Hi, I'm Finley.  I'm from Chicago and I'm currently an intern at Eight Bit Studios.  I'm proficient in Adobe Photoshop and I can use Illustrator and InDesign.  I can do illustration, graphic design, and some 3D modeling.  I'm also learning to code HTML and CSS and this website is, essentially, my guinea pig.
    </p>
    <p>
      I've had an interest in graphic design since eighth grade, but it never overshadowed my passion for illustration.  That's why I try to integrate it into my design work.  Of course, I still draw on the side, as well.  You can see all that under <b>"Portfolio"</b>.
    </p>
=======
<section class="content">
  <h2 class="title">Bees? Bees! BEES!</h2>
    <div class="post">
      <p>Bacon ipsum dolor amet pork loin strip steak picanha, sirloin prosciutto leberkas jerky cow salami pork belly meatloaf porchetta corned beef. Short ribs bacon landjaeger, <a href="google.com">turkey chuck short loin cupim pastrami ground round t-bone corned</a> beef shankle chicken swine. Jerky prosciutto flank, tri-tip chuck kielbasa cupim beef sausage. T-bone porchetta prosciutto, meatball jowl pastrami ribeye turkey tongue venison kielbasa. Meatball short ribs pig, boudin ground round jerky prosciutto andouille strip steak doner pork meatloaf hamburger.</p>

      <p>Salami bresaola porchetta leberkas, pork belly shank alcatra tongue pork chop. Boudin pork belly pork loin, filet mignon flank tail ham tenderloin hamburger. Sausage filet mignon t-bone rump ham hock doner. Capicola ball tip shankle tenderloin, ground round bresaola strip steak beef ribs pig chicken. Fatback sirloin strip steak chuck tail landjaeger chicken, beef ribs prosciutto doner cow frankfurter short loin porchetta ham hock. Cupim porchetta rump salami. Salami biltong fatback sirloin pig cupim bresaola ham pastrami frankfurter tri-tip.</p>

      <p>Capicola ball tip shankle tenderloin, ground round bresaola strip steak beef ribs pig chicken. Fatback sirloin strip steak chuck tail landjaeger chicken, beef ribs prosciutto doner cow frankfurter short loin porchetta ham hock. Cupim porchetta rump salami. Jerky prosciutto flank, tri-tip chuck kielbasa cupim beef sausage. T-bone porchetta prosciutto, meatball jowl pastrami ribeye turkey tongue venison kielbasa. Meatball short ribs pig, boudin ground round jerky prosciutto andouille strip steak doner pork meatloaf hamburger.</p>
    </div>
</section>
>>>>>>> c2a1fe96a893e375fa51e82228110cf5a14196a0
