---
title: Finley's Portfolio Website
---

<section class="content">
  <h2>Works in Progress</h2>
  <a href="images/megamonsterfusion-DRAFT.png"><img src="/images/megamonsterfusion-DRAFT.png"></a>
  <p>Just a thing for my sister.  She wanted three heads, three tails, and four wings.  I don't know how it works.</p>
<<<<<<< HEAD
</section>
=======
</section>

<link href='http://fonts.googleapis.com/css?family=Amatic+SC|Merriweather:400,300italic,700' rel='stylesheet' type='text/css'>
>>>>>>> c2a1fe96a893e375fa51e82228110cf5a14196a0
